<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>AsciiMii Game <%= gameid %></title>

<script>

</script>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-responsive.min.css">
    <link rel="stylesheet" href="main.css">

    <script src="modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body style="font-family: monospace">

<center> 
<h1 style="font-family: courier">
&nbsp/| _ _..|\/|..<br/>
/-|_\(_||| &nbsp|||
</h1>

<h2>Game <%= gameid %></h2>
</center>

<div id="leftbox" style="margin-right: -2; float: left">
    <center>
    Player 1
    </center>
    <textarea rows="30" cols="40">
    Player 1 types here.
    </textarea>
</div>
<div id="rightbox" style="margin-left: -3; float: left; ">
    <center>
    Player 2
    </center>
    <textarea rows="30" cols="40">
    Player 2 types here.
    </textarea>
</div>

<div id="leftdump"></div>
<div id="rightdump"></div>

</body>
</html>

